anaconda==0.0.1.1
arrow==1.2.2
asttokens==2.0.7
backcall==0.2.0
beautifulsoup4==4.11.1
billiard==3.6.4.0
blinker==1.4
bs4==0.0.1
certifi==2020.12.5
charset-normalizer==2.1.0
click==8.1.3
colorama==0.4.5
colorlog==4.8.0
commonmark==0.9.1
cramjam==2.5.0
cron-descriptor==1.2.30
cypari==2.4.1
decorator==5.1.1
docopt==0.6.2
dominate==2.7.0
elastic-transport==8.1.2
elasticsearch==7.13.4
elasticsearch-dsl==7.4.0
et-xmlfile==1.1.0
executing==0.9.1
findspark==2.0.1
Flask==2.2.2
Flask-Bootstrap4==4.0.2
Flask-WTF==1.0.1
fsspec==2022.7.1
future==0.18.2
FXrays==1.3.5
h11==0.12.0
hdfs==2.7.0
HTMLParser==0.0.2
idna==3.3
inflect==5.6.2
inflection==0.5.1
ipython==8.4.0
itsdangerous==2.1.2
jedi==0.18.1
Jinja2==3.1.2
joblib==1.1.0
knot-floer-homology==1.2
langid==1.1.6
lazy-object-proxy==1.7.1
linkify-it-py==2.0.0
lockfile==0.12.2
Markdown==3.4.1
MarkupSafe==2.1.1
matplotlib-inline==0.1.3
mdurl==0.1.1
networkx==2.8.5
nltk==3.7
numpy==1.23.1
oauthlib==3.2.0
openpyxl==3.0.10
pandas==1.4.3
parso==0.8.3
pathspec==0.9.0
pexpect==4.8.0
pickleshare==0.7.5
plink==2.4.1
pluggy==1.0.0
prison==0.2.1
prompt-toolkit==3.0.30
psutil==5.9.1
ptyprocess==0.7.0
pure-eval==0.2.2
py4j==0.10.9.5
pyarrow==9.0.0
pycparser==2.21
Pygments==2.12.0
PyJWT==2.4.0
pyparsing==3.0.9
pypng==0.20220715.0
pyrsistent==0.18.1
pyspark==3.3.0
python-dateutil==2.8.2
python-dotenv==0.15.0
python-slugify==6.1.2
python-twitter==3.5
pytz==2022.1
pytzdata==2020.1
PyYAML==6.0
rauth==0.7.3
regex==2022.7.9
requests==2.28.1
requests-oauthlib==1.3.1
rfc3986==1.5.0
rich==12.5.1
setproctitle==1.2.3
shellingham==1.4.0
six==1.16.0
snappy==3.0.3
snappy-manifolds==1.1.2
sniffio==1.2.0
soupsieve==2.3.2.post1
spherogram==2.1
stack-data==0.3.0
tabulate==0.8.10
tenacity==8.0.1
termcolor==1.1.0
text-unidecode==1.3
tornado==6.2
tqdm==4.64.0
traitlets==5.3.0
typing_extensions==4.3.0
uc-micro-py==1.0.1
ujson==5.4.0
unicodecsv==0.14.1
urllib3==1.26.9
venv-pack==0.2.0
vine==5.0.0
visitor==0.1.3
wcwidth==0.2.5
Werkzeug==2.2.2
wrapt==1.14.1
WTForms==3.0.1
